:root {
  --custom-shadow: 0px 11px 15px -7px rgba(8, 112, 184, 0.1), 0px 24px 38px 3px rgba(8, 112, 184, 0.04), 0px 9px 46px 8px rgba(8, 112, 184, 0.02) !important
}

.custom-shadow {
  box-shadow: var(--custom-shadow);
}

.v-application {
  font-family: 'Cormorant Garamond', serif!important;
}
